
/**************************************/
/*** For mobile device
     maxmum width 1080px            ***/
/**************************************/
@media screen and (max-width: 1080px) {
 
    body {
        width: 900px;
        /*height: 1550px;*/
        height: auto;
        /***font-size: 250%;***/
        border: solid red thick;
        font-size: 250%;
        font-weight: bold;
    }
    
    body a {
        margin: 3em;
    }
/***
    header {
        font-weight: bold;
    }
***/

    main input {
        font-size: 150%;
    }
    main select{
        /*font-size: large;*/
        font-size: 150%;
    }

    button {
        font-size: 150%;
    }

}
/*************************************/
/***END Of FOR MAXIMUM WiDTH 1080px***/
/*************************************/